/* Navbar & scroll to anchor fixes */
html {
	scroll-padding-top: 56px;
}
body {
	padding-top: 56px;
}

/* Bootstrap custom sizes */
.navbar {
    padding: .5rem 1rem;
}
.h2, h2 {
    font-size: 2rem;
}

/* Datepicker */
.datepicker, .table-condensed {
	width: 300px;
	height: 300px;
}

/* Github corner */
.github-corner {
	margin-top: 2px;
}
.github-corner:hover .octo-arm {
	animation:octocat-wave 560ms ease-in-out
}
.github-corner svg {
	fill:#343A40;
	color:#fff;
	border: 0;
}
@keyframes octocat-wave {
	0%,100% {transform:rotate(0)}
	20%,60% {transform:rotate(-25deg)}
	40%,80% {transform:rotate(10deg)}
}
@media (max-width:500px) {
	.github-corner:hover .octo-arm {animation:none}
	.github-corner .octo-arm {animation:octocat-wave 560ms ease-in-out}
}

/* Bootstrap-Toggle IOS-like styling */
.toggle.ios, .toggle-on.ios, .toggle-off.ios {
	border-radius: 20rem;
}
.toggle.ios .toggle-handle {
	border-radius: 20rem;
}